node_modules
dist
build
.DS_Store
.env
.env.local
.env.production
.env.preview
coverage
.vitest
.wrangler
.dev.vars
*.log
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
playwright-report
test-results
